<!-- This is for all admin Views -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheBookCave</title>
    <link rel="shortcut icon" href="favicon1.ico" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </environment>
</head>
<body>
<noscript>
    <style type="text/css">
       .noscript {
           height: 60px;
           font-weight: bold;
           font-size: 20px;
           background-color: rgb(255, 0, 0); 
           border-bottom: 5px solid rgb(207, 4, 4);
           color: white;
           display: flex;
           justify-content: center;
           align-items: center;
           cursor: not-allowed;
        }
    </style>
    <div class="noscript">This site uses javascript to function normaly. Please enable javascript in your browser</div>
</noscript>

<div class="header">
    <div class="logo">
        <a class="actual-logo" asp-controller="FrontPage" asp-action="Index"><img src="~/images/book-5-24-289661.png" alt="logo">The Book Cave</a>
    </div>
    <div class="search-container">

        <form  class="search" asp-action="search" asp-controller="Book" method="GET">
            <input type="search" name="searchText" class="form-control search-input" placeholder="Search">
            <button type="submit" class="btn btn-default search-btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </form>

    </div>
    @await Html.PartialAsync("_LoginPartial")
</div>

<div class="row">
    <div class="col-md-2 ">
        <div class="main-container">
            <div id="adminBar">
                <div class="list-group">
                    <a asp-controller="AdminAllOrder" asp-action="index" class="list-group-item list-group-item-action SideButton">OrderList</a>
                    <a asp-controller="AdminActiveOrder" asp-action="index" class="list-group-item list-group-item-action SideButton">ActiveOrderList</a>
                    <a asp-controller="AdminBook" asp-action="index" class="list-group-item list-group-item-action SideButton">BooksList</a>
                    <a asp-controller="AdminUser" asp-action="index" class="list-group-item list-group-item-action SideButton">UserList</a>
                    <a asp-controller="AdminSubscription" asp-action="index" class="list-group-item list-group-item-action SideButton">SubscriptionList</a>
                    <a asp-controller="AdminPromoCode" asp-action="index" class="list-group-item list-group-item-action SideButton">PromoCodeList</a>
                </div>
            </div>
        </div>
       
    </div>
     <div class="col-md-10">
         @RenderBody()
    </div>

</div>

<div class="col-md-10">
        @RenderBody()
</div>
</div>
<hr />
<footer>
    <div class="row">
        <div class="col-md-1 first"></div>
        <div class="col-md-2">
            <p>Kt xxxxxx-xxxx</p>
            <p>Sími 581-2345</p>
            <p>&copy; 2018 - The Book Cave</p>
        </div>
        <div class="col-md-6 middle">
            <div id="footerMiddle">
                <br>
                <a id="facebook" href="https://www.facebook.com"><i class="fa fa-facebook-square" style="font-size:36px"></i></a>
                <a id="youtube" href="https://www.youtube.com"><i class="fa fa-youtube-square" style="font-size:36px"></i></a>
                <a id="twitter"href="https://www.twitter.com"><i class="fa fa-twitter-square" style="font-size:36px"></i></a>
            </div>
        </div>
        <div class="col-md-2">
            <div id="footerLeft">
                <a asp-controller="FrontPage" asp-action="AboutUs">About Us</a><br>
                <a asp-controller="HelpCenter" asp-action="index">Help</a>
                <br>
                <p>temporary linkar á aðrar síður hér að neðan</p>
                <a asp-controller="FrontPage" asp-action="SignUp">SignUp</a>
            </div>
        </div>
        <div class="col-md-1 last"></div>
    </div>
</footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

