@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using authentication_repo.Models
<!-- athhvort notandi er signIn eda ekki -->
@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}
<!-- if user sign I want use my claim (first Name and Last Name) -->
@if (SignInManager.IsSignedIn(User)) {
    // Clame made on register (AccountController)
    <div class="icons">
        <div class="name">Welcome @claim.Split(" ")[0]</div>
        <div class="buttons">
            <div class="icon-conainer">
                <a asp-controller="Account" asp-action="index"><span class="glyphicon glyphicon-user small-icon" aria-hidden="true"></a>
                <a asp-controller="Cart" asp-action="index"><span class="glyphicon glyphicon-shopping-cart small-icon"  aria-hidden="true"></a>
            </div>
            <!-- log out button -->
            <form asp-action="LogOut" asp-controller="Account" method="POST">
                <button type="submit" class="btn btn-link navbar-btn navbar-link logout-login">Log out</button>
            </form>
        </div>
    </div>
}     
else {
    <div class="icons">
        <div class="name">Welcome!</div>
        <div class="buttons">
            <div class="icon-conainer">
                <a asp-controller="Account" asp-action="index"><span class="glyphicon glyphicon-user small-icon" aria-hidden="true"></a>
                <a asp-controller="Cart" asp-action="index"><span class="glyphicon glyphicon-shopping-cart small-icon" aria-hidden="true"></a>
            </div>
            <a class="logout-login login" asp-controller="Account" asp-action="Login">Log in</a>
        </div>
    </div>
}