@model TheBookCave.Models.ViewModels.ProfileViewModel;

<h1>Edit Profile</h1>

<form asp-action="editProfile" asp-controller="Account" class="form-horizontal" method="POST">
    <div class="form-group">
        <input tpe="text" class="form-control" autofocus="autofocus" asp-for="FirstName" placeholder="Enter first name" value="@Model.FirstName" />
    </div>
    <div class="form-group">
        <input tpe="text" class="form-control" asp-for="LastName" placeholder="Enter last name" value="@Model.LastName" />
    </div>
    <div class="form-group">
        <div class="profile-picture" asp-for="Picture"></div>
        <input type='file' onchange="readURL(this);" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Save"/>
        
    </div>
</form>

<script>

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('.profile-picture').style.backgroundImage = "url('" + e.target.results + "')";
        };

        reader.readAsDataURL(input.files[0]);
    }
}
</script>

<style>
    .profile-picture {
        width: 200px;
        height: 200px;
        background-image: url(@Model.Picture);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
}
</style>