@model TheBookCave.Models.ViewModels.BookListViewModel

@{
    Layout = "_AdminLayout";
}

<h2>Create new book</h2>


<form asp-action="index" asp-controller="AdminBook" method="POST">
    <div class="form-group">
        <input tpe="text" class="form-control" autofocus="autofocus" asp-for="Name" placeholder="Enter book title"/>
    </div>

    <div class="form-group">
        <input tpe="text" class="form-control" asp-for="Picture" placeholder="Enter path to book image" />
    </div>

    <div class="form-group">
        <input tpe="text" class="form-control" asp-for="DetailsEN" placeholder="Enter description in English" />
    </div>

    <div class="form-group">
        <input tpe="text" class="form-control" asp-for="DetailsIS" placeholder="Enter description in Icelandic"/>
    </div>

    <div class="form-group">
        <input tpe="text" class="form-control" asp-for="GenreId" placeholder="Select Genre" />
    </div>

    <div class="form-group">
        <input tpe="text" class="form-control" asp-for="AuthorId" placeholder="Select Author"/>
    </div>

    <div class="form-group">
        <input tpe="text" class="form-control" asp-for="PublisherId" placeholder="Select Publisher" />
    </div>

    <div class="form-group">
        <input tpe="number" class="form-control" asp-for="Price" placeholder="Enter Price" />
    </div>

    <div class="form-group">
        <input tpe="number" class="form-control" asp-for="Discount" placeholder="Enter discount if any" />
    </div>

    <div class="form-group">
        <input tpe="number" class="form-control" asp-for="Pages" placeholder="Enter books page count" />
    </div>

    <div class="form-group">
        <input tpe="number" class="form-control" asp-for="Quantity" placeholder="Enter how many books are in stock" />
    </div>

    <div class="form-group">
        <input type="checkbox" class="form-control" asp-for="Published" placeholder="Check if book is published" />
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Save"/>
    </div>
</form>