@model List<TheBookCave.Models.ViewModels.SubscriptionListViewModel> 

@{
    ViewData["Title"] = "Subscription";
}

<link rel="stylesheet" href="~/css/subscription.css" />

<div class="row">
    <div class="col-md-12">
        <div class="caption">
            <h3>About Subscriptions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam eget ex egestas, imperdiet leo vel, rutrum odio. 
                In vel dui eget tortor faucibus mattis quis non lacus. 
                Pellentesque dapibus lacus lobortis magna lacinia, eu pellentesque ipsum placerat. 
                Morbi non felis quis leo ultrices volutpat. Ut sagittis felis id nisl tincidunt, ac varius nisl bibendum. 
                Sed non lorem semper, rutrum lectus at, sodales sapien.
            </p>
        </div>
    </div>
    <!-- vantar aรฐ setja price รก subscriptions -->
    @foreach(var subscription in @Model)
    {
    <div class="col-md-6">
        <div class="caption sub-item">
            <h3>Subscription type: @subscription.Id</h3>
            <h4>@subscription.TypeEn Books</h4>
            <div class="descript">
                <p>@subscription.DescriptionEn</p>
            </div>
            <div class="price-button">
                <h4 class="price">2000 ISK</h4>
                <div class="button">
                    <a href="#" class="btn btn-primary button" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>