<div id="FrontPageBooks">
    <div id="Top10">
        <h2>Top 10</h2>
        <div class="TopBooks">
            <img src="https://apilgriminnarnia.files.wordpress.com/2017/04/stephen-king-it.png" height="150" width="150"><br>
            <a href="#"><span style="font-size:18px">I.T</span></a><br>
            <a href="#">Stephen King</a>
            <p>$ 15.99</p>
        </div>
        <div class="TopBooks">
            <img src="https://apilgriminnarnia.files.wordpress.com/2017/04/stephen-king-it.png" height="150" width="150"><br>
            <a href="#"><span style="font-size:18px">I.T</span></a><br>
            <a href="#">Stephen King</a>
            <p>$ 15.99</p>
        </div>
        <div class="TopBooks">
            <img src="https://apilgriminnarnia.files.wordpress.com/2017/04/stephen-king-it.png" height="150" width="150"><br>
            <a href="#"><span style="font-size:18px">I.T</span></a><br>
            <a href="#">Stephen King</a>
            <p>$ 15.99</p>
        </div>
        <div class="TopBooks">
            <img src="https://apilgriminnarnia.files.wordpress.com/2017/04/stephen-king-it.png" height="150" width="150"><br>
            <a href="#"><span style="font-size:18px">I.T</span></a><br>
            <a href="#">Stephen King</a>
            <p>$ 15.99</p>
        </div>
        <div class="TopBooks">
            <img src="https://apilgriminnarnia.files.wordpress.com/2017/04/stephen-king-it.png" height="150" width="150"><br>
            <a href="#"><span style="font-size:18px">I.T</span></a><br>
            <a href="#">Stephen King</a>
            <p>$ 15.99</p>
        </div>
        <div id="Arrow">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div id="New">
        <h2>Newest</h2>
    </div>
</div>