@{
    ViewData["Title"] = "About Us";
}
<div id="container">
    <div class="thumbnail">
        <h2>@ViewData["Title"]</h2>
        <p>Welcome to The Book Cave, one of the world's leading online bookstores that has not yet gone online. 
            We're proud to offer so many titles at low prices, all with free delivery worldwide to over 100 countries. 
            Whatever your interest or passion is you will be able to find a awesome book that you will like. 
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Suspendisse nec orci ipsum. Morbi tristique lectus id libero suscipit, in semper risus gravida. 
            Suspendisse auctor placerat sagittis. Donec hendrerit pulvinar risus, a scelerisque tortor porta ac. 
            Nullam vel convallis eros. Quisque et erat vitae dolor sollicitudin tristique at sed dolor. 
            Vivamus porta sapien nisl, convallis consequat arcu facilisis ut. Etiam tincidunt arcu nec orci finibus iaculis. 
            Integer mattis ligula id lorem tincidunt pellentesque. Cras eu suscipit felis, nec ultrices felis. 
            Fusce commodo nec ex luctus bibendum. Aliquam iaculis sollicitudin orci, quis fringilla nisi tristique sit amet.
        </p>
    </div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-12">
                <h2>Our Team</h2>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 staff-img">
                <img src="~/images/staff/bjarki.jpg" alt="staff img">
                <h3>Bjarki</h3>
            </div>
            <div class="col-md-2 staff-img">
                <img src="~/images/staff/elmar.jpg" alt="staff img">
                <h3>Elmar</h3>
            </div>
            <div class="col-md-2 staff-img">
                <img src="~/images/staff/gummi.jpg" alt="staff img">
                <h3>Guðmundur</h3>
            </div>
            <div class="col-md-2 staff-img">
                <img src="~/images/staff/ingi.png" alt="staff img">
                <h3>Ingi</h3>
            </div>
            <div class="col-md-2 staff-img">
                <img src="~/images/staff/maggi.jpg" alt="staff img">
                <h3>Magnús</h3>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<style>
    .staff-img img {
        height: 250px;
    }
    .staff-img {
        text-align: center;
    }
    .staff-img p {
        text-align: left;
    }
    h2 {
        text-align: center;
    }
    #container {
        margin: 10px 10px 0px 10px;
    }
</style>