@model List<TheBookCave.Models.ViewModels.OrderListViewModel> 

@{
    Layout = "_AdminLayout";
}

<h2>Choosen order </h2>

<div>
    @foreach(var order in @Model)
    {  
        <ul>
        <li>OrderId: @order.Id</li>
        <li>AddressId: @order.AddressId</li>
        <li>UserId: @order.UserId</li>
        <li>Date: @order.Date</li>
        </ul>
    }
</div>
