@model List<TheBookCave.Models.ViewModels.OrderListViewModel> 


<h1>All Orders from website, canceld, active and complete orders</h1>


<h2> OrderList </h2>

<div>
    @foreach(var order in @Model)
    {  
        <ul>
        <li>OrderId: @order.Id</li>
        <li>AddressId: @order.AddressId</li>
        <li>UserId: @order.UserId</li>
        <li>Date: @order.Date</li>
        </ul>
    }
</div>
