@model List<TheBookCave.Models.ViewModels.BookListViewModel>
<h2> Welcome to your cart</h2>

<div class="cart-item-container">

@foreach(var book in @Model) {
    <div class="cart-item">
        <img class="book-detail-image" src="~/@book.Picture" alt="Image broken">
        <div class="cart-title">@book.Name</div>
        <div class="cart-price">@book.Price kr</div>
        <div class="cart-quantity">Quantity to come</div>
        <div class="cart-remove-btn" value="@book.Id">
            <i class="fa fa-trash" value="@book.Id"></i>
        </div>
    </div>
}

</div>

<link rel="stylesheet" href="~/css/cart.css" />
<script src="~/js/cart.js" asp-append-version="true"></script>
<script src="~/js/cartRemove.js" asp-append-version="true"></script>