<div class="container">
    <h2>Your order overview:</h2>
    <p><a class="btn btn-default btn-sm" asp-controller="checkout" asp-action="checkout" class="btn btn-default">
    <span class="glyphicon glyphicon-check"></span> Confirm</a></p>
</div>