.thumbnail img {
    width: 200px;
    height: 270px;
    overflow: hidden;
    /*object-fit: cover;*/
}

.thumbnail {
    cursor: pointer;
}


.caption p {
    width:100%;
    height:100px;
    /*line-height:20px; /* Height / no. of lines to display */
    overflow:hidden;
}
.titleDiv {
    position: relative;
    padding-bottom: 70px;
}
.title {
    left: 0%;
    right: 0%;
    text-align: center;
    position: absolute;
    overflow: hidden;
}
