.book-main-detail {
    display: flex;
    width: 100%;
    border-bottom: 2px solid gray;
    margin-top: 10px;
}

.book-detail-image {
    width: 300px;
    height: 440px;
    margin: 10px 30px 20px 30px;
}

.book-detail-main {
    width: 30%;
}

.book-detail-buy {
    width: 20%;
    text-align: center;
}

.book-detail-title {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid gray;
}

.book-detail-author-grade {
    padding-top: 10px;
    display: flex;
}

.book-detail-description {
    padding: 10px;
}

.book-detail-author {
    padding-top: 4px;
    width: 55%;
}

.book-detailed-detail {
    padding: 0% 2%;
}

.book-detail-window {
    display: inline-block;
    padding-right: 5%;
}

.book-detail-buy {
    margin: 10px 10px 10px 30px;
    width: 20%;
    text-align: center;
}

.discounted-price {
    padding: 5px 0 0 10px;
    text-decoration: line-through;
}

.book-detail-price-container {
    display: flex;
}

.book-detail-price {
    font-size: 20px;
}

.book-detail-addtocart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background: rgb(16, 108, 212);
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    transition: opacity 0.2s;
    margin: auto;
}

.book-detail-addtocart-button:hover {
    opacity: 0.9;
    cursor: pointer;
}
.rating {
    /*padding-right: 5px;*/
    width: 30%;
}
.book-detail-grade {
    width: 10%;
    padding-top: 4px;
    /*padding-left: 5px;*/
} 


.rating {
    display: inline-block;
    color: #fed221;
    white-space: nowrap;
}
  
  .rating .star {
    display: inline-block;
    position: relative;
    letter-spacing: 0.05em;
}
  
  .rating .star::before {
    display: inline-block;
    color: #e7e7e7;
    font-size: 20px;
    font-weight: bold;
    content: '☆';
    width: 1em;
    height: 1em;
 }
  
  .rating .star::after {
    display: inline-block;
    position: absolute;
    content: '★';
    color: #fed221;
    font-size: 20px;
    font-weight: bold;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 0.1s linear;
    overflow: hidden; 
}
  
  .rating .star:hover::after,
  .rating .star.active::after {
    opacity: 1;
    width: 1em;
    height: 1em; 
}
  
  .rating .star.active.half::after {
    width: 0.5em;
 }