.book-main-detail {
    display: flex;
    width: 100%;
    height: 500px;
    border-bottom: 2px solid gray;
}

.book-detail-image {
    width: 300px;
    height: 440px;
    margin: 10px 30px 20px 30px;
}

.book-detail-main {
    width: 30%;
}

.book-detail-buy {
    width: 20%;
    text-align: center;
}

.book-detail-title {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid gray;
}

.book-detail-author-grade {
    padding-top: 10px;
    display: flex;
}

.book-detail-description {
    padding: 10px;
}

.book-detail-author {
    width: 70%;
}

.book-detailed-detail {
    padding: 0% 2%;
}

.book-detail-window {
    display: inline-block;
    padding-right: 5%;
}

.star {
    color: #e7e7e7;
}

.star-yellow {
    color: #fed221;
}

.book-detail-buy {
    margin: 10px 10px 10px 30px;
    width: 20%;
    text-align: center;
}

.discounted-price {
    padding: 5px 0 0 10px;
    text-decoration: line-through;
}

.book-detail-price-container {
    display: flex;
}

.book-detail-price {
    font-size: 20px;
}

.book-detail-addtocart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background: rgb(16, 108, 212);
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    transition: opacity 0.2s;
}

.book-detail-addtocart-button:hover {
    opacity: 0.9;
    cursor: pointer;
}
.starRating {
    /*padding-right: 5px;*/
    width: 20%;
}
.book-detail-grade {
    width: 10%;
    /*padding-left: 5px;*/
} 