.cart-item-container {
    margin: 30px;
}

.cart-item {
    margin: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
    padding: 10px 10px 0 10px;
}

.book-detail-image {
    flex: 0 1 7%;
    height: 100px;
    margin-right: 10px;
}

.cart-title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    flex: 0 1 33%;
    margin-right: 10px;
}

.cart-price {
    padding-left: 30px;
    flex: 0 1 30%;
}

.cart-quantity-container {
    padding-left: 30px;
    flex: 0 1 20%;
    display: flex;
    align-items: center;
}

.cart-quantity {
    padding: 0 10px 0 10px;
}

.cart-quantity-btn {
    background-color: rgb(209, 185, 185);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgb(160, 148, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
    color: white;
}

.cart-remove-btn {
    background-color: rgb(206, 26, 26);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.cart-remove-btn:hover {
    font-size: 28px;
}
