.fp-list {
    height: 20%;
    margin: 10px 10px 0px 10px;
    align-items: center;
    overflow: hidden;
    background-color:#dadddc;
    display: flex;
}

.books-container {
    width: 90%;
    overflow: hidden;
}

.books-container2 {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.single-book-container {
    width: 20%;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    flex: 1 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 1s;
}

.book-preview-image {
    width: 124px;
    height: 183px;
    border: 0.5px solid gray;
    object-fit: cover;
}

.book-preview-title {
    font-size: 20px;
    font-weight: bold;
}


.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%;
}

.btn-arrow {
    height: 30px;
}

.discounted-price {
    padding: 5px 0 0 10px;
    text-decoration: line-through;
}

.book-detail-price-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-detail-price {
    font-size: 20px;
}
