.book-cover {
    height: 150px;
    width: 100px;
}
h2 {
    text-align: center;
}
h3 {
    /*height: 150px;*/
    margin: auto;
}
.buttonDiv {
    height: 150px;
}
.searchResults {
    height: 160px;
    margin: 1% 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.searchResults:nth-child(odd) {
    background: #f0f0f0;
}
.searchBoxes {
    text-align: left;
    margin: auto;
}
.buttonDiv {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.detailsButt {
    display: block;
    margin: 0 auto;
}