.book-cover {
    height: 150px;
    width: 100px;
}
h2 {
    text-align: center;
}
h3 {
    /*height: 150px;*/
    margin: auto;
}
.searchResults {
    height: 160px;
    margin: 1% 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.details {
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchResults:hover {
    opacity: 0.8;
    cursor: pointer
}
.searchResults:nth-child(odd) {
    background: #f0f0f0;
}
.searchBoxes {
    text-align: left;
    margin: auto;
}
.addtocart-button {
    height: 45px;
    margin: auto;
    margin-right: 70px;
}