body {
    padding-bottom: 20px;
    background-color: #e9ece5;
    color: #373737;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-fixed-top {
    padding-top: 10px;
}


.navbarSearch {
    width: 30em !important;
}

.main-container {
    display: flex;
}
/*
#SideBar {
    display: inline-block;
    margin: 60px 20px 20px;
    border-radius: 5px;
    width: 250px;
    height:700px;
    border-color: black;
    background-color: #2A3132;
    border: 2px solid;
}*/

#adminBar {
    display: inline-block;
    margin: 60px 20px 20px;
    border-radius: 5px;
    width: 200px;
    height:431px;
    border-color: black;
    border: 2px solid;
    
}


#HeaderSignUp {
    text-align: center
}
.SideButton {
    padding: 25px;
    display:block;
    background-color: #3b3a36;
    color: #e9ece5 !important;
}

.InlineDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
#SignUpBox {
    width: 500px;
    display: inline-block;
}
#FrontPageBooks h2 {
    text-align: center;
}

#New {
    /*display: inline-block;*/
    margin: 20px 20px;
    border-radius: 5px;
    width: 100%;
    height: 320px;
    border: 2px solid black;
}
#footerLeft {
    /*width: 20%;*/
    font-size: 18px;
    text-align: right; 
}
#footerMiddle {
    text-align: right; 
}
#footerMiddle a{
    color: inherit;
}
#facebook:hover{
    color: #3b5998;
}
#twitter:hover{
    color: #00aced;
}
#youtube:hover{
    color: #bb0000;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    table-layout: fixed;
    margin : 0px;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    width: 180px;
}

th, td {
    padding: 15px;
}

td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.book-box:hover {
    opacity: 0.6;
}

.hidden {
    display: none;
}

#sideBar {
    margin-top: 10px;
}
#sideBar a:hover {
    background-color: #c0b283;
}

.header {
    background-color: #3b3a36;
    padding: 10px;
    display: flex;
    color: #e9ece5;
}

.logo {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    font-size: 20px;
    
}

.actual-logo {
    color: white;
}

.actual-logo:hover {
    text-decoration: none;
    color: white;
    font-size: 1.02em;
}

.search-container {
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
}

.icons {
    flex: 1 0 30%;
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

.buttons {
    display: flex;
    align-items: center;
}

.name {
 flex-basis: 50%;
 font-size: 17px;
}

.icon-conainer {
    display: flex;
}

.logout-login {
    margin: 0;
    font-size: 17px;
    color: white;
}

.logout-login:hover {
    text-decoration: none;
    color: white;
}

.login {
    padding-left: 12px;
}

.small-icon {
    padding: 5px;
    font-size: 17px;
    color: white;
}

.search-input {
    border-radius: 4px 0 0 4px;
    flex: 0 1 100%;
    width: 100%;
    height: 45px;
}

.search-btn {
    border-radius: 0 4px 4px 0;
    height: 45px;
}

hr {
    border-top: 1px solid #3b3a36;
}
.badge-red {
    z-index: 2;
    color: #ca1111;
    background-color: #ca1111;
    padding: 2px 5px;
    font-size: 5px;
    border-radius: 7px;
}
.profile-container {
    margin-top: 10px;
}
.profile-picture {
    height: 150px;
    border: solid 1px;
}
.profile-layot {
    margin-top: 10px;
}