body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbarSearch {
    width: 40em !important;
}

.main-container {
    display: flex;
}

#sideBar {
    display: inline-block;
    margin: 20px 20px;
    border-radius: 5px;
    width: 250px;
    height:700px;
    border-color: black;
    border: 2px solid;
}
.SideButton {
    height: 70px;
}
.InlineDiv {
    display: inline-block;
}
#SignUpBox {
    width: 500px;
    display: inline-block;
}

.fp-list {
    height: 400px;
    margin: 10px;
    align-items: center;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
}

.books-container {
    width: 90%;
    overflow: hidden;
}

.books-container2 {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.single-book-container {
    width: 20%;
    padding: 10px;
    cursor: pointer;
    flex: 1 0 20%;
    display: flex;
    justify-content: center;
    transition: margin 1s;
}

.book-preview-image {
    width: 150px;
    height: 220px;
    border: 0.5px solid gray;
    object-fit: cover;
}

.book-preview-title {
    font-size: 20px;
    font-weight: bold;
}


.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%;
}

.btn-arrow {
    height: 30px;
}

/*
#FrontPageBooks {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
#FrontPageBooks h2 {
    text-align: center;
}
#Top10 {
    width: 100%;
    height: auto;
    margin: 20px 20px 60px 20px;
    border: 2px solid black;
    border-radius: 5px;
    vertical-align: top;
}
#Top10 .TopBooks {
    display: inline-block;
    margin-left: 52px;
    margin-right: 52px;
    text-align: center;
}
#Top10 #Arrow {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: 135px;
}
*/
#New {
    /*display: inline-block;*/
    margin: 20px 20px;
    border-radius: 5px;
    width: 100%;
    height: 320px;
    border: 2px solid black;
}
#footerLeft {
    width: 20%;
    font-size: 18px;
    text-align: right; 
}
#footerMiddle {
    text-align: right; 
}
#footerMiddle a{
    color: inherit;
}
#facebook:hover{
    color: #3b5998;
}
#twitter:hover{
    color: #00aced;
}
#youtube:hover{
    color: #bb0000;
}

.hidden {
    display: none;
}