@{
    ViewData["Title"] = "Help Center";
}
<link rel="stylesheet" href="~/css/helpCenter.css" />
<h2>Welcome to Help center</h2>
<div class="row">
    <div class="col-md-12">
        <div class="main-box">
            <h3>Search in help articles</h3>
            <form class="navbar-form" action="/action_page.php">
                <div class="input-group">
                    <input type="text" class="form-control navbarSearch" placeholder="Search">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </form>
            <div class="faq-links">
                <br>
                <h4>FAQ</h4>
                <a href="#">Lorem ipsum dolor sit amet.</a><br>
                <a href="#">faq link</a><br>
                <a href="#">Lorem ipsum dolor sit amet.</a><br>
                <a href="#">Lorem ipsum dolor sit amet.</a>
            </div>
            <div class="help-categories">
                <br>
                <h4>Help categories</h4>
                <a asp-controller="HelpCenter" asp-action="Orders" class="btn btn-primary btn-lg" role="button">Orders</a>
                <a asp-controller="HelpCenter" asp-action="ForgotPassword" class="btn btn-primary btn-lg" role="button">Forgot Password</a>
                <a asp-controller="HelpCenter" asp-action="Shipping" class="btn btn-primary btn-lg" role="button">Shipping</a>
                <a asp-controller="HelpCenter" asp-action="Subscriptions" class="btn btn-primary btn-lg" role="button">Subscriptions</a>
            </div>
        </div>
    </div>
</div>

