
<link rel="stylesheet" href="~/css/helpCenter.css" />
<h2>Welcome to Help center</h2>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="main-box">
            <div class="faq-links">
                <br>
                <h3>Subscriptions</h3>
                <a href="#">Lorem ipsum dolor sit amet.</a><br>
                <a href="#">faq link</a><br>
                <a href="#">Lorem ipsum dolor sit amet.</a><br>
                <a href="#">Lorem ipsum dolor sit amet.</a>
            </div>
            <div class="help-categories">
                <br>
                <h4>Help categories</h4>
                <a asp-controller="HelpCenter" asp-action="Orders" class="btn btn-primary btn-lg" role="button">Orders</a>
                <a asp-controller="HelpCenter" asp-action="ForgotPassword" class="btn btn-primary btn-lg" role="button">Forgot Password</a>
                <a asp-controller="HelpCenter" asp-action="Shipping" class="btn btn-primary btn-lg" role="button">Shipping</a>
                <a asp-controller="HelpCenter" asp-action="Subscriptions" class="btn btn-primary btn-lg disabled" role="button">Subscriptions</a>
            </div>
        </div>
    </div>
    <div class="col-md-11"></div>
</div>