@model List<TheBookCave.Models.ViewModels.AlbumListViewModel>

<div>
    @foreach(var album in @Model) {
        <div>
            <p>@album.Title</p>
            <p>@album.Artist</p>
            <p>@album.ReleaseYear</p>
        </div>
        
    }
 </div>